<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">регистрация</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form action="" method="POST" class="base-form">
        {% csrf_token %}
        <div class="row mb-2">
            <div class="col">
                {{ form.username }}
            </div>
            <div class="col">
               {{ form.email }}
            </div>
        </div>
         <p class="text-muted">только латинские и специальные символы и числа</p>
        <div class="row mb-2">
            <div class="col">
                {{ form.password1 }}
            </div>
            <div class="col">
                {{ form.password2 }}
            </div>
        </div>
        <p class="text-muted">не менее 8 символов, одна буква, один спец.символ,одно число</p>
        <input type="submit" value="Зарегистрироваться" class="btn btn-success">
    </form>
     <p class="text-muted text-center"> Есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
{% endblock %}