{% load mptt_tags %}
{% load static %}
<ul class="navbar-nav">
    {% for m_node in menu %}
        {% if m_node.level == 0 %}
            {% if not m_node.is_leaf_node %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="nbDrop"
                       role="button" data-bs-toggle="dropdown">
                        {{ m_node.name }}
                    </a>
                    <ul class="dropdown-menu">
                        {% drilldown_tree_for_node m_node as submenu %}
                        {% for s_node in submenu %}
                        <li><a href="{{ s_node.parent.url }}/{{ s_node.url }}" class="dropdown-item">{{ s_node.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ m_node.url }}" class="nav-link">{{ m_node.name }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if request.user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Выйти</a></li>
    {% else %}
        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Войти</a></li>
        <li class="nav-item"><a href="{% url 'sign-up' %}" class="nav-link">Зарегистрироваться</a></li>
    {% endif %}
</ul>